<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>Invoice <%= invoice.number %></title>
    
    <style>
    .invoice-box {
        max-width: 800px;
        margin: auto;
        padding: 30px;
        border: 1px solid #eee;
        box-shadow: 0 0 10px rgba(0, 0, 0, .15);
        font-size: 16px;
        line-height: 24px;
        font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;
        color: #555;
    }
    
    .invoice-box table {
        width: 100%;
        line-height: inherit;
        text-align: left;
    }
    
    .invoice-box table td {
        padding: 5px;
        vertical-align: top;
    }
    
    .invoice-box table tr td:last-child {
        text-align: right;
    }
    
    .invoice-box table tr.top table td {
        padding-bottom: 20px;
    }
    
    .invoice-box table tr.top table td.title {
        font-size: 45px;
        line-height: 45px;
        color: #333;
    }
    
    .invoice-box table tr.information table td {
        padding-bottom: 40px;
    }
    
    .invoice-box table tr.heading td, div.heading {
        color: #FFF;
        background: #555;
        border-bottom: 1px solid #555;
        /*border-bottom: 1px solid #ddd;*/
        font-weight: bold;
    }
    
    .invoice-box table tr.details td {
        padding-bottom: 20px;
    }
    
    .invoice-box table tr.item td{
        border-bottom: 1px solid #eee;
    }
    
    .invoice-box table tr.item.last td {
        border-bottom: none;
    }
    
    .invoice-box table tr.total td:nth-child(2) {
        border-top: 2px solid #eee;
        font-weight: bold;
    }
    
    @media only screen and (max-width: 600px) {
        .invoice-box table tr.top table td {
            width: 100%;
            display: block;
            text-align: center;
        }
        
        .invoice-box table tr.information table td {
            width: 100%;
            display: block;
            text-align: center;
        }
    }
    
    /** RTL **/
    .rtl {
        direction: rtl;
        font-family: Tahoma, 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;
    }
    
    .rtl table {
        text-align: right;
    }
    
    .rtl table tr td:nth-child(2) {
        text-align: left;
    }
</style>
</head>

<body>
    <div class="invoice-box">
        <table cellpadding="0" cellspacing="0">
            <tr class="top">
                <td colspan="2">
                    <table>
                        <tr>
                            <td class="title" style="width:50%;">
                                <img src="<%= application.logo %>" style="max-width:100%; max-height: 120px;">
                            </td>
                            
                            <td  style="width:50%;">
                                <div class="heading" style="padding-left: 10px;">Fattura vendita WEB / WEB Invoice</div> 
                                Invoice #: <%= invoice.number %><br>
                                Date: <%= new Date(invoice.date_created).toDateString() %><br>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            
            <tr class="information">
                <td colspan="2">
                    <table>
                        <tr>
                            <td style="width:50%;">
                                
                                <b>KEBI International SA</b><br>
                                Via Soave 8 - 6900 Lugano (CH) <br>
                                CHE-173.079.417<br>
                                info@laclassica.com - www.laclassica.com
                                
                            </td>
                            
                            <td style="width:50%;">
                                <div class="heading" style="padding-right: 10px;">Customer</div>
                                <%= invoice.customer.full_name %><br>
                                <%= invoice.customer.address1 %><br>
                                <%= invoice.customer.postal_code %> <%= invoice.customer.city %>, <%= invoice.customer.state %> <br>
                                <%= invoice.customer.country %><br/>
                                <%= invoice.customer.vat %><br>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            
           
            
        </table>
        <table cellpadding="0" cellspacing="0" style="margin-top: 20px;">
            <tr class="heading">
                <td>Row</td>
                <td>Item no.</td>
                <td> Description </td>
                <td>Quantity</td>
                <td>Price</td>
                <td>Total</td>
                <td>Tax</td>
            </tr>
            <% for(var i=0; i< order.products.length; i++) { %>

            <%
            var itemPrice = 0; 
            var theItem = order.products[i]
            if (order.products[i].hasOwnProperty("variant")){
                theItem = order.products[i].variant
                if (order.products[i].variant.hasOwnProperty("price_discount")) {
                    itemPrice = order.products[i].variant.price_discount
                } else {
                    itemPrice = order.products[i].variant.price
                }
            } else {
                if (order.products[i].hasOwnProperty("price_discount")) {
                    itemPrice = order.products[i].price_discount
                } else {
                    itemPrice = order.products[i].price
                }
            }
            %>


            <tr class="item">
                <%if (!order.hasOwnProperty("currency")) {
                    order.currency = {symbol : ""}
                }%>
                <td><!-- Row column --> <%= (i+1) * 10 %></td>
                <td><%= theItem.sku %></td>
                <td>
                    <%= order.products[i].name %>

                    <% if (order.products[i].hasOwnProperty("variant") ) {%>
                    <div class="variantsInfo">
                        <% for (var variantName in order.products[i].variantsDefinition ){%>
                        <% if (order.products[i].variant.hasOwnProperty(variantName) ) {%>
                        <span><%= variantName%> : <%=order.products[i].variant[variantName]%></span>
                        <%}%>
                        <%}%>
                    </div>

                    <%}%>
                     <% if (order.products[i].hasOwnProperty("taric") ) {%>
                        <div class="taricCode">
                            <span>TARIC : <%=order.products[i].taric%></span>
                        </div>
                    <%}%>
                    
                </td>

                <td><%= order.products[i].quantity %></td>
                <td><%= Number(itemPrice).toFixed(2) %> <%= order.currency.symbol%></td>
                
                <td><%= Number(itemPrice * order.products[i].quantity).toFixed(2) %> <%= order.currency.symbol%></td>
                
                <td><%= order.products[i].applied_tax_rate + "%" %></td>
                
            </tr>
            <% } %>

           

         <% if (order.hasOwnProperty("shipping")) {%>
         <tr class="item">
            <td></td>
            <td></td>
            <td>Delivery charges : <%=order.shipping.name %></td>
            <td>1</td>
            <td><%= Number(order.shipping_total).toFixed(2) %> <%= order.currency.symbol%></td>
            <td><%= Number(order.shipping_total).toFixed(2) %> <%= order.currency.symbol%></td>
        </tr>
        <% } %>

        <% if (order.hasOwnProperty("payment_method")) {%>
        <tr class="item">
            <td colspan="2">Payment method charges</td>
            <td><%=order.payment_method.name %></td>
            <td><%=order.payment_method.description %></td>
            <td></td>
            <td><%= Number(order.payment_method_total).toFixed(2) %> <%= order.currency.symbol%></td>
        </tr>
        <% } %>

        <% if (order.hasOwnProperty("coupon")) {%>
        <tr class="item">
            <td colspan="2"><%=order.coupon.name %></td>
            <td><%=order.coupon.description %></td>
            <td></td>
            <td>- <%= Number(order.coupon_total).toFixed(2) %> <%= order.currency.symbol%></td>
        </tr>
        <% } %>

        <% if (order.hasOwnProperty("promotion")) {%>
        <tr class="item">
            <td><%=order.promotion.name %></td>
            <td><%=order.promotion.description %></td>
            <td></td>
            <td>- <%= Number(order.promotion_total).toFixed(2) %> <%= order.currency.symbol%></td>
        </tr>
        <% } %>



        <tr>
            <td colspan="5">
                Taxes
            </td>

            <td>
             <%= Number(order.taxes_total).toFixed(2) %> <%= order.currency.symbol%>
         </td>
     </tr>
     <tr>
        <td colspan="5">
            Total
        </td>

        <td>
         <%= Number(order.total).toFixed(2) %> <%= order.currency.symbol%>
     </td>
 </tr>
</table>


<table cellpadding="0" cellspacing="0" style="margin-top: 50px;">
    <tr>
        <td style="width: 50%;">

            <div>Expiring payment</div>
            <table cellpadding="0" cellspacing="0" style="margin-top: 2px;border:1px solid #333;">
                <tr>
                    <td style="border:1px solid #333;min-height: 64px;display: block;"></td>
                </tr>

            </table>

            <table cellpadding="0" cellspacing="0" style="margin-top: 2px;">
                <tr>
                    <td style="border-bottom: 1px solid #333">Payment</td>
                    <td style="border-bottom: 1px solid #333">Credit card immediate</td>
                </tr>

                <tr>
                    <td style="border-bottom: 1px solid #333">Bank</td>
                    <td style="border-bottom: 1px solid #333">PAYPAL</td>
                </tr>

            </table>
        </td>
        <td style="width: 50%;">
            Vat Summary
            <table cellpadding="0" cellspacing="0" style="margin-top: 2px;border:1px solid #333">
                <tr>
                    <td  style="border-bottom: 1px solid #333"><b>Tax Name</b></td>
                    <td  style="border-bottom: 1px solid #333"><b>Net Amount</b></td>
                    <td  style="border-bottom: 1px solid #333"><b>Tax Amount</b></td>
                </tr>
                <tr>
                    <td  style="border-bottom: 1px solid #333"><%= order.taxes[0].name %></td>
                    <td  style="border-bottom: 1px solid #333"><%= order.items_total + order.shipping_total %></td>
                    <td  style="border-bottom: 1px solid #333"><%= order.taxes_total %></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </table>

            <table cellpadding="0" cellspacing="0" style="margin-top: 10px;">
                <tr style="margin-bottom: 10px;">
                    <td style="border:1px solid #333; border-top: 0px;width:50%">Total value (EUR)</td>
                    <td style="background-color: #ddd"><%= Number(order.items_total).toFixed(2) %></td>
                </tr>
            </table>
            <table cellpadding="0" cellspacing="0" style="margin-top: 10px;">
                <tr style="margin-bottom: 10px;">
                    <td style="border:1px solid #333; border-top: 0px;width:50%">Delivery charges (EUR)</td>
                    <td style="background-color: #ddd"><%= Number(order.shipping_total).toFixed(2) %></td>
                </tr>
            </table>
            <table cellpadding="0" cellspacing="0" style="margin-top: 10px;">
                <tr>
                    <td style="border:1px solid #333; border-top: 0px;width:50%">Total VAT (EUR)</td>
                    <td style="background-color: #ddd"><%= Number(order.taxes_total).toFixed(2) %></td>
                </tr>
            </table>
            <table cellpadding="0" cellspacing="0" style="margin-top: 10px;">
                <tr>
                    <td style="border:1px solid #333; border-top: 0px;width:50%">Total Order (EUR)</td>
                    <td style="background-color: #ddd"><%= Number(order.total).toFixed(2) %></td>
                </tr>
            </table>
        </td>
    </tr>
</table>


<div>Notes</div>
<table cellpadding="0" cellspacing="0" style="margin-top: 2px;border:1px solid #333;">
    <tr>
        <td style="border:1px solid #333;min-height: 32px;display: block;text-align:left !important;">
        <p style="text-align:left">L'esportatore delle merci contemplate nel presente documento (autorizzazione doganale n. ..............) dichiara che, salvo indicazione contraria, le merci sono di origine preferenziale ITALIANA.</p>
        <p style="text-align:left">Luogo e data .....................................</p>
        <p style="text-align:left">Firma dell'esportatore ...........................</p></td>
    </tr>

</table>


</div>
</body>
</html>